 
body{
background: linear-gradient(135deg,#ffc078,#ffec99,#a3e635);

}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:48px ;
    color:#333333;
}
a{
 color: #c15b5b;

}
.form-container {
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 20vh;
}
.generate-button{
    background-color: #ffa500;
    color: white;
   border: none;
   padding: 12px 8px ;
   border-radius: 10px;
font-weight: bolder;
font-size: 15px;
cursor: pointer;

}
.generate-button:hover{
    background-color:#FFD700;
  
}
.input-text-area{
    padding: 15px 60px;
    border-radius: 10px;
    border: 1px solid #32CD32 ;

}
.hint{
    font-style: italic;
   font-weight: bold;
    text-align: center;
}
.recipe-container{
    background-color:#FFF8DC;
    width:600px;
    margin:0 auto;
    padding:15px;
    border-left : 7px solid #ffa500;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #333333;
   height: 70vh;
}
footer{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
     text-align: center;
     font-size: 18px;
     font-weight: bold;
     margin-top: 20px;
     color:#333333;
}